<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.shsxt.web.servlet.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.shsxt.web.servlet.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.shsxt.web.servlet.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Redirect</servlet-name>
    <servlet-class>com.shsxt.web.servlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseServlet01</servlet-name>
    <servlet-class>com.shsxt.web.servlet.ResponseServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseServlet01</servlet-name>
    <url-pattern>/response01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseServlet02</servlet-name>
    <servlet-class>com.shsxt.web.servlet.ResponseServlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseServlet02</servlet-name>
    <url-pattern>/response02</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.shsxt.web.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet01</servlet-name>
    <servlet-class>com.shsxt.web.servlet.session.SessionServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet01</servlet-name>
    <url-pattern>/session01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet02</display-name>
    <servlet-name>SessionServlet02</servlet-name>
    <servlet-class>com.shsxt.web.servlet.session.SessionServlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet02</servlet-name>
    <url-pattern>/session02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet03</display-name>
    <servlet-name>SessionServlet03</servlet-name>
    <servlet-class>com.shsxt.web.servlet.session.SessionServlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet03</servlet-name>
    <url-pattern>/session03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoSession</display-name>
    <servlet-name>NoSession</servlet-name>
    <servlet-class>com.shsxt.web.servlet.session.NoSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoSession</servlet-name>
    <url-pattern>/nosession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServletInvalidate01</servlet-name>
    <servlet-class>com.shsxt.web.servlet.session02.SessionServletInvalidate01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServletInvalidate01</servlet-name>
    <url-pattern>/invalidate01</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>SessionServletInvalidate02</servlet-name>
    <servlet-class>com.shsxt.web.servlet.session02.SessionServletInvalidate02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServletInvalidate02</servlet-name>
    <url-pattern>/invalidate02</url-pattern>
  </servlet-mapping>
  
</web-app>